.backgroundSet {
    background-image: url("file:///Users/saitejsunkara/Application%20Development/event-enroll-system/src/bck4.jpg");
    background-size: cover; /* or contain depending on what you want */
    background-position: center center;
    background-repeat: no-repeat;
    margin:auto;
    padding:0;
    min-height: 100vh;
}